.App {
  text-align: center;
}

.productBlock {
  padding:  20px;
  margin: 10px;
  background: #e2e2e2;
  display: inline-grid
}

.outerDiv {
  margin: 10px;
}

.errorMessage {
  padding:  10px;
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
